<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>কৈলাশ গঞ্জ মাধ্যমিক বিদ্যালয় </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" type="text/css" media="all" href="assets/css/style-projects.css">
        

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    </head>


    <body>

        <!-- Header -->
        
        <nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
                   <div class="container">
        
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <a class="navbar-brand wow fadeInDownBig" href="index.html"><img class="office-logo" src="assets/img/logo.png"></a>      
                        </div>
                    
                        <div id="navbar-spy" class="collapse navbar-collapse navbar-responsive-collapse">
                            <ul class="nav navbar-nav pull-right">
                                <li>
                                    <a href="#" ng-click="clickForRegister('')">প্রথম পাতা </a>
                                </li>
                                <li>
                                    <a href="#" ng-click="clickForRegister('about')">বিদ্যালয় সম্পর্কে</a>
                                </li>
                                <li class="active">
                                    <a href="#" ng-click="clickForRegister('contact')"><span>যোগাযোগ</span></a>
                                </li>
                                  <li>
                                        <a href="#" ng-click="clickForRegister('registration')"><span>সুবর্ণ জয়ন্তী রেজিস্ট্রেশন</span></a>
                                    </li>
                            </ul>                 
                        </div>
                 </div>
        </nav>

        <!--End Header -->


        <!-- Main Container -->

        <div class="container-fluid-kamn">
            <div class="row">
                <div>
                    <iframe width="100%" height="450px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12400.075627282791!2d89.53570181935726!3d22.48299262004949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0025875eb9edd7%3A0x353ba3bdc25245db!2sKailasganj!5e0!3m2!1sen!2sbd!4v1499508016751"></iframe>
                    <br />
                </div>
                <div class="col-lg-4 col-lg-offset-1">
                    <h4>খুঁজে পাবেন:</h4>
                    <p class="block-author">কৈলাশ গঞ্জ মাধ্যমিক বিদ্যালয়</p>
                    <p>থানা:দাকোপ,জেলা:খুলনা,বাংলাদেশ</p>
                    <p>ফোনে: 1.800.245.356</p>
                    <em class="block-author">ইমেইল : khs@gmail.com </em> <br>
                    <br>
                </div>
                <div class="col-lg-5">
                    <div class="feedback-form">
          
                        <div id="contact-response"></div>
            
                        <form action="http://templates.designorbital.com/baleen/contact.php" method="post" id="contact-form">
                            <fieldset>
                                <div class="form-group form-group-fullname">
                                    <label class="control-label" for="fullname">NAME *</label>
                                    <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Enter Your Name">
                                </div>
                                <div class="form-group form-group-email">
                                    <label class="control-label" for="email">E-MAIL *</label>
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Enter Your E-Mail">
                                </div>
                                <div class="form-group form-group-message">
                                    <label class="control-label" for="message">MESSAGE *</label>
                                    <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                                </div>           
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </fieldset>
                        </form>
                    </div> 
                </div>
            </div>
        </div>    
            
    <!--End Main Container -->


    <!-- Footer -->
    <footer> 
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3><i class="fa fa-map-marker"></i> যোগাযোগ:</h3>
                    <p class="footer-contact">
                        কৈলাশগঞ্জ মাধ্যমিক বিদ্যালয় <br>
                        থানা:দাকোপ,জেলা:খুলনা,বাংলাদেশ <br>
                        ই মেইল : kailashganjschool@gmail.com<br>
                    </p>
                </div>
                <div class="col-md-4">
                    <h3><i class="fa fa-external-link"></i>গুরুত্বপূর্ণ লিঙ্কস </h3>
                     <p><a href="http://www.educationboardresults.gov.bd/regular/index.php" target="_blank">বোর্ড ফলাফল ২০১৭</a></p> 
                     <p><a href="http://www.moedu.gov.bd/" target="_blank">শিক্ষা বোর্ড</a></p> 
                     <p><a href="http://www.nctb.gov.bd/" target="_blank">এন সি টি বি </a></p>              
                    <p> <a href="http://www.bangladesh.gov.bd/">তথ্য বাতায়ন</a></p>
                </div>
              <div class="col-md-4">
                <h3><i class="fa fa-heart"></i> সামাজিক মাধ্যমে যোগাযোগ </h3>
                <div id="social-icons">
                    <a href="#" class="btn-group google-plus">
                        <i class="fa fa-google-plus"></i>
                    </a>
                      <a href="#" class="btn-group linkedin">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                      <a href="#" class="btn-group twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                      <a href="#" class="btn-group facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
              </div>    
        </div>
      </div>
    </footer>

    
    <div class="copyright text center">
         <p>&copy; কপিরাইট ২০১৭, <a href="#">কৈলাশগঞ্জ মাধ্যমিক বিদ্যালয়</a> <a href="#" target="_blank"></a></p>
    </div>


    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>

  </body>
</html>
