
<div class="row">
                <div class="col-md-4">
                    <h3><i class="fa fa-map-marker"></i> যোগাযোগ:</h3>
                    <p class="footer-contact">
                        কৈলাশ গঞ্জ মাধ্যমিক বিদ্যালয় <br>
                        থানা:দাকোপ,জেলা:খুলনা,বাংলাদেশ <br>
                        ই মেইল : khs@gmail.com<br>
                    </p>
                </div>
                <div class="col-md-4">
                    <h3><i class="fa fa-external-link"></i>গুরুত্বপূর্ণ লিঙ্কস </h3>
                     <p><a href="http://www.educationboardresults.gov.bd/regular/index.php" target="_blank">বোর্ড ফলাফল ২০১৭</a></p> 
                     <p><a href="http://www.moedu.gov.bd/" target="_blank">শিক্ষা বোর্ড</a></p> 
                     <p><a href="http://www.nctb.gov.bd/" target="_blank">এন সি টি বি </a></p>              
                    <p> <a href="http://www.bangladesh.gov.bd/">তথ্য বাতায়ন</a></p>
                </div>
              <div class="col-md-4">
                <h3><i class="fa fa-heart"></i> সামাজিক মাধ্যমে যোগাযোগ </h3>
                <div id="social-icons">
                    <a href="#" class="btn-group google-plus">
                        <i class="fa fa-google-plus"></i>
                    </a>
                      <a href="#" class="btn-group linkedin">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                      <a href="#" class="btn-group twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                      <a href="#" class="btn-group facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
              </div>    
</div>